@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: '72', -apple-system, sans-serif;
  background-color: #f3f4f6;
  color: #111827;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #cbd5f5 #e5e7eb;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: #e5e7eb;
}

*::-webkit-scrollbar-thumb {
  background-color: #cbd5f5;
  border-radius: 999px;
  border: 2px solid #e5e7eb;
}
